---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
   
<b>Grader</b> for UCSD POLI100G, 102D, 104U, 108, 112A. Courses include topics in political economy, voting rights, political campaigns, and business law.  
<br/>
<br/>
<b>Teaching Assistant</b> for UCSD Political Science Senior Honors Seminar, Introduction to Comparative Politics.
<br/>  
<br/>
Extensive experience as a speech and debate coach for high school and undergraduate students.
 
     
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
