---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<b>For Current Students:</b>
<br/>
<br/>
<!-- Google Calendar Appointment Scheduling begin -->
<link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
<script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
<script>
(function() {
  var target = document.currentScript;
  window.addEventListener('load', function() {
    calendar.schedulingButton.load({
      url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ2JazMh_VUvM6aylecKBqaoowKxxz-XGpAYFzwTgO_7IxYfAB9IW6M769t5vkwX2J4urtuTxUSb?gv=true',
      color: '#039BE5',
      label: "Book Office Hours",
      target,
    });
  });
})();
</script>
<!-- end Google Calendar Appointment Scheduling -->
<br/>
<br/>
<b>Instructor</b> <br/>
<i>UCSD</i> <br/>
POLI124A (SSII25): Political Consequences of Electoral Systems (<a href="https://docs.google.com/document/d/1neCS8VkzmBJwOyqjg2tbU2-msHFwAwYr/edit#heading=h.gjdgxs">Syllabus</a>) <br/>
<br/>
<br/>
<b>Teaching Assistant</b> <br/>
<i>UCSD</i> <br/>
POLI100G (FA20): How to Win or Lose an Election <br/>
POLI102 (WI21): The Voting Rights Act, 50 Years Later <br/>
POLI103A (S123): California Government and Politics w/ Thad Kousser <br/>
POLI104I (S223): Law & Politics, Courts and Political Controversies w/ Glenn Smith <br/>
POLI104U (SP21; SP22): Introduction to Business Law w/ Maysa Nichter <br/>
POLI108 (FA21): Politics of Multiculturalism w/ John Porten <br/>
POLI110A (FA23): Citizens & Saints: Plato to Augustine w/ David Wiens <br/>
POLI112A (S122): Economic Theories and Political Behavior w/ David Wiens <br/>
POLI118 (FA23): Game Theory and Political Science w/ David Wiens <br/>
POLI124A (SP24): The Political Consequences of Electoral Systems w/ David Fortunato <br/>
POLI147B (WI24): Russian-American Relations w/ Phil Roeder <br/>
POLI174 (WI23): Analyzing Elections w/ Federica Izzo <br/>
<br/>
<br/>
<b>Section Leader</b> <br/>
<i>UCSD</i> <br/>
POLI10D (WI24): Introduction to American Politics w/ Seth Hill (2 sections) <br/>
POLI11D (SP23): Introduction to Comparative Politics w/ Scott Desposato (3 sections) <br/>
<br/>
<br/>
<b>Senior Thesis Supervision</b> <br/>
<i>UCSD</i> <br/>
POLI191A (FA22; WI23): Senior Honors Seminar w/ Fonna Forman, Germaine Hoston
<br/>  
<br/>
<b>Certifications and Completed Teaching Trainings</b> <br/>
<i>UCSD Political Science Department</i> <br/>
POLI284D: Evidence-Based Teaching Workshop <br/>
<br/>
<i>UCSD Teaching and Learning Commons</i> <br/>
Certificate of Recognition: Specialist in Student-Centered Teaching (<a href="https://api.badgr.io/public/assertions/FUw8VWAhR-2SGz_AUep_zA?identity__email=tdounias%40ucsd.edu">Link</a>)<br/>
Advanced College Teaching (<a href="https://docs.google.com/document/d/1dtBsRMHRL71pRLUa7V2_vLncpnYp4jRrDiGjSQcs2iE/edit?tab=t.0">Syllabus</a>) <br/>
Introduction to College Teaching (<a href="https://docs.google.com/document/d/1YKX20oP5pBq0NPOUHpB9uroxcPUy5RZUtS0wvTfbu1Y/edit?tab=t.0">Syllabus</a>) <br/>
Equity Minded Course Design Workshop Series <br/>
<br/>
<br/>  
Extensive experience as a speech and debate coach for high school and undergraduate students.
 
     
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
