---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<b>For Current Students:</b>
<!-- Google Calendar Appointment Scheduling begin -->
<link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
<script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
<script>
(function() {
  var target = document.currentScript;
  window.addEventListener('load', function() {
    calendar.schedulingButton.load({
      url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ1F8NoKR6ulCSL9vcAo3QcIVUWVOkc2I5okFwxFaMOetV2IJoNERfOgm6TXYp5_rWvN_4rmwBDh?gv=true',
      color: '#039BE5',
      label: 'Book an appointment',
      target,
    });
  });
})();
</script>
<!-- end Google Calendar Appointment Scheduling -->
<br/>  
<br/>
<br/>
<b>Teaching Assistant</b> <br/>
<i>UCSD</i> <br/>
POLI100G (FA20): How to Win or Lose an Election <br/>
POLI102 (WI21): The Voting Rights Act, 50 Years Later <br/>
POLI103A (S123): California Government and Politics w/ Thad Kousser <br/>
POLI104I (S223): Law & Politics, Courts and Political Controversies w/ Glenn Smith <br/>
POLI104U (SP21; SP22): Introduction to Business Law w/ Maysa Nichter <br/>
POLI108 (FA21): Politics of Multiculturalism w/ John Porten <br/>
POLI110A (FA23): Citizens & Saints: Plato to Augustine w/ David Wiens <br/>
POLI112A (S122): Economic Theories and Political Behavior w/ David Wiens <br/>
POLI118 (FA23): Game Theory and Political Science w/ David Wiens <br/>
POLI124A (SP24): The Political Consequences of Electoral Systems w/ David Fortunato <br/>
POLI147B (WI24): Russian-American Relations w/ Phil Roeder <br/>
POLI174 (WI23): Analyzing Elections w/ Federica Izzo <br/>
<br/>
<br/>
<b>Section Leader</b> <br/>
<i>UCSD</i> <br/>
POLI10D (WI24): Introduction to American Politics w/ Seth Hill (2 sections) <br/>
POLI11D (SP23): Introduction to Comparative Politics w/ Scott Desposato (3 sections) <br/>
<br/>
<br/>
<b>Senior Thesis Supervision</b> <br/>
<i>UCSD</i> <br/>
POLI191A (FA22; WI23): Senior Honors Seminar w/ Fonna Forman, Germaine Hoston
<br/>  
<br/>
<br/>
Extensive experience as a speech and debate coach for high school and undergraduate students.
 
     
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
